@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-text-sizes" as textSizes;

.toolButton {
  border: 1px colors.$slate-1 solid;
  border-radius: 3px;
  width: 180px;
  background-color: colors.$slate-6;
  padding: 7px;
  cursor: pointer;
  transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;

  &:hover {
    transform: scale(1.1);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  p {
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: colors.$slate;
  }
}
