@font-face {
  font-family: m12;
  src: url("/assets/fonts/m12.ttf");
}

p,
a {
  font-size: 14px;
}

* {
  letter-spacing: 2px;
  line-height: 1.25;
  font-family: m12, Arial, Helvetica, sans-serif;
}
